img {
    max-width: 100%;
    height: auto;
}

@mixin scrollbars($size: 10px, $foreground-color: #cecece, $background-color: #eeeeee) {
    // для Chrome и Safari
    &::-webkit-scrollbar {
        width: $size;
        height: $size;
    }
    &::-webkit-scrollbar-thumb {
        background: $foreground-color;
    }
    &::-webkit-scrollbar-track {
        background: $background-color;
    }
    // по стандартам (Firefox)
    scrollbar-color: $foreground-color $background-color;
}

html {
    @include scrollbars;
}