.Menu {
	display: flex;
	font-family: 'PT Sans', sans-serif;
	.item {
		flex: 1 1 auto;
		background-color: #0089ff;
		padding: 10px 30px;
		color: white;
		text-align: center;
		&:hover {
			background-color: #219aff;
		}
		&:global(.active) {
			background-color: #00336a;
		}
	}
}